#camera-screen{
	width: 100%;
	height: 100%;
	background-color: red;
	display: block;
	position: absolute;
	top: 0;
	display: none;
}

#camera-top{
	height: 10%;
	width: 100%;
	background-color: gray;
	position: absolute;
	top: 0;
}

#camera-top .fa{
	font-size: 2em;
}

#camera-settings, #camera-switch{
	position: absolute;
	margin-top: 0.3em;
	left: 10px;
	/*border: 1px solid black;*/
	cursor: pointer;
	width: 20%;
	height: 85%;
}

#camera-settings .fa-cogs{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#camera-flash, #camera-action-button{
	position: absolute;
	/*border: 1px solid black;*/
	cursor: pointer;
	width: 20%;
	height: 85%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#camera-mode, #camera-gallery{
	position: absolute;
	margin-top: 0.3em;
	right: 10px;
	/*border: 1px solid black;*/
	cursor: pointer;
	width: 20%;
	height: 85%;
}

#camera-mode p{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Lobster', cursive;
}

#camera-flash .fa-bolt{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#camera-middle{
	height: 80%; 
	width: 100%;
	background-color: white;
	position: absolute;
	top: 10%;
	overflow: hidden;
}

#camera-bottom{
	height: 10%;
	width: 100%;
	background-color: gray;
	position: absolute;
	bottom: 0%;
}

#camera-switch-video, #camera-switch-camera{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 2em;
	color: white;
}

#camera-switch-camera{
	display: none;
}

#camera-action-button{
	border-radius: 50%;
	border: 2px solid rgba(255,0,0,0.8);
	background-color: white;
	overflow: hidden;
}

#camera-gallery{
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid black;
}

#camera-gallery img{
	width: 100%;
	height: 100%;
}

#camera-video{
	/*background-color: red;*/
	position: relative;
	left: -50%;
}

#snap{
	/*background: blue;*/
	width: 100%;
	height: 100%;
}